@model Usuarios

@{
    ViewData["Title"] = "Registro";
}

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        @*<div>
                <h3 class="logo-name">PI</h3>
            </div>*@
        <h3>Registro de Usuarios</h3>
        <form asp-action="Registrar" asp-controller="Home" id="Registrar">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nuevo Usuario" asp-for="Nombre">
                <span asp-validation-for="Nombre"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" asp-for="Clave">
                <span asp-validation-for="Clave"></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre Completo" asp-for="NombreUsuario">
                <span asp-validation-for="NombreUsuario"></span>
            </div>
            <div class="form-group">
                @*<input type="text" class="form-control" placeholder="Cedula profesional Completo" asp-for="Cedula">
        <span asp-validation-for="Cedula"></span>*@
                @Html.DropDownList("Cedula", new SelectList(ViewBag.losOrganos, "idarea", "organo"), "Elija un organo", new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Registrar</button>
        </form>
    </div>
</div>